:root {
  --cor-1: #070607;

  --cor-2: #201009;

  --cor-3: #9F1209;

  --cor-4: #B73312;

  --cor-5: #dc8030;

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  padding: 0px;
  margin: 0px;
}
html{
  scroll-behavior: smooth;
}
