@import url(https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap);

:root {
  --cor-fundo-1: white;

  --cor-fundo-2: #dcdcdc;

  --cor-txt: wheat;

  --cor-1: #070607;

  --cor-2: #201009;

  --cor-3: #9F1209;

  --cor-4: #B73312;

  --cor-5: #dc8030;

  --cor-6: wheat;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo{
  font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
  background-color: black;
  padding: 0px;
  margin: 0px;
}
html{
  scroll-behavior: smooth;
}
