h1{
  margin: 0px;
}

.fundo-fixo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../imagens/banner4.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1; /* Coloca a imagem atrás de todo o conteúdo */
}

/* Conteúdo que rola na frente */
.conteudo-site {
  position: relative;
  z-index: 1;
}
header{
  position: sticky;
  top: -1px;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease-in-out;

  background-color: rgba(0, 0, 0, 0.26);
  display:flex;
  flex-direction: row;;
  height: 120px;
}
header.is-sticky {
  background-color: rgba(0, 0, 0, 0.950);
  height: 80px;             
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(7px);
}

header > .h-esq >.logotipo{
  transition: all ease-in-out 0.3s;
  height:75% ;
  width: auto;
}
header > .h-esq > .logotipo:hover{
  transform: scale(1.2) rotate(-10deg);
}
.logotipo{
  transition: all ease-in-out 0.3s;
}
.logotipo:hover{
  transform: scale(1.2) rotate(-10deg);
}
.h-esq{
  box-sizing: border-box;
  width: 50%;
  padding-left: 10%;
  align-content: center;
}
.h-dir{
  padding: 30px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: center;
  width: 50%;
}
/* --- ESTILOS PADRÃO (DESKTOP) --- */
.menu-mobile-btn {
  display: none;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  
  /* Ícone SVG de 3 barras inserido diretamente no CSS */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform 0.2s ease;
}
.menu-mobile-btn:hover {
  background-color: var(--cor-5);
  border-radius: 5px;
  transform: scale(1.1);
}
.menu-mobile-btn.ativo:hover{
    background-color: var(--cor-3);
    border-radius: 5px;
  }

.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

@media (max-width: 768px) {
  .menu-mobile-btn {
    display: block;
  }

  .nav-menu {
    display: flex; 
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.26);
    flex-direction: column;
    align-items: center;
    padding: 0; 
    max-height: 0; 
    gap: 10px;
    border-bottom: 1px solid transparent;
    
    opacity: 0;
    transform: translateY(-10px); 
    pointer-events: none; 
    overflow: hidden;
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  }
  header.is-sticky .nav-menu {
  background-color: rgba(0, 0, 0, 0.950);
  }
  .nav-menu.aberto {
    opacity: 1;
    transform: translateY(0); 
    pointer-events: auto; 
    padding: 20px 0;
    max-height: 300px; 
    border-bottom-color: var(--cor-6);
    border-top-color: var(--cor-6);
  }
  .menu-mobile-btn.ativo {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M6 6l18 18M6 24L24 6'/%3E%3C/svg%3E");
  }
}
a{
  color: var(--cor-txt);
  transition: all ease-in-out 0.2s;
  text-decoration: none;
  font-weight: bolder;
}
a:hover{
  color:var(--cor-5);
}
.titulo{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  height: 480px;
  color:var(--cor-txt);
  font-size:  20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.conteudoA{
 background-color: var(--cor-fundo-1);
 width: 100%;
 padding-top: 30px;
 padding-bottom: 30px;
 text-align: center;
}
.conteudoA h1{
  color: var(--cor-3);
  display: inline-block;
  position: relative;
  justify-content: center;
  font-weight: bolder;
}
.conteudoA p{
  color: var(--cor-2);
  font-weight: bolder;
  text-align: center;
}
.conteudoB{
 background-color: var(--cor-fundo-2);
 padding-top: 30px;
 padding-bottom: 30px;
 width: 100%;
 text-align: center;
}
.conteudoB h1{
  color: var(--cor-3);
  display: inline-block;
  position: relative;
  justify-content: center;
  font-weight: bolder;
}
.conteudoB p{
  color: var(--cor-2);
  font-weight: bolder;
  text-align: center;
  hyphens: auto;
}

.but-reservar{
  padding: 25px;
  box-sizing: content-box;
  border-radius: 15px;
  border:none;
  background-color: var(--cor-4);
  color: var(--cor-txt);
  font-weight: bolder;
  font-size: large;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}

.but-reservar:hover{
  transform: scale(1.05);
  background-color: var(--cor-5);
}

.but-reservar:active{
  transform: scale(0.95);
  background-color: var(--cor-3);
}

.areaReservar{
  background: linear-gradient(47deg, var(--cor-3), var(--cor-5));
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.areaReservar > input{
  width: 150px;
  height: 50px;
  border: solid 3px var(--cor-1);
  border-radius: 150px;
  font-weight: bolder;
  font-size: large;
  color: var(--cor-1);
  background-color: transparent;
  transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
  mix-blend-mode: multiply;
}

.areaReservar > input:hover{
  transform: scale(1.2);
  background-color: var(--cor-1);
  color: white;
  mix-blend-mode: multiply;
}

.areaReservar > input:active{
  transform: scale(0.95);
  background-color: transparent;
  color: var(--cor-1);
}

.conteudo-titulo{
  height: 50%;
  width: 60%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  font-size:  20px;
  backdrop-filter: blur(10px);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%),
                      linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
  
  mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%),
              linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
  
  -webkit-mask-composite: source-in;
  mask-composite: intersect;
}

/* Areas */

.areaA {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex: 1;
    margin: 25px;
}

.areaA > div > img{
    box-shadow:  0 4px 12px var(--cor-2);
    border-radius: 100%;
    height: 90px;
    width: 90px;
    object-fit: cover;
}

.areaA > div{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    gap: 10px;
    font-size: 17px;
    max-width: 100px;
}

.areaB {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding: 45px;
}

.areaB > div > div > img{
    height: 90px;
    width: 90px;
    border-radius: 100%;
    object-fit: cover;
}

.areaB > div.grega1{
    text-align: start;
    display: flex;
    font-weight: bolder;
    gap: 30px;
    width: fit-content;
    max-width: 50%;
    font-size: 17px;
    flex-direction: column;
}

.cartinha {
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow:  0 4px 12px var(--cor-2);
    transition: all ease-in-out .3s;
}

.cartinha::before,
.cartinha::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    transition: opacity .6s ease-in-out;
}

.cartinha::before {
    background: linear-gradient(115deg, var(--cor-5), var(--cor-4));
    opacity: 1;
}

.cartinha::after {
    background: linear-gradient(115deg, var(--cor-4), var(--cor-5));
    opacity: 0;
}

.cartinha:hover::before { opacity: 1; }
.cartinha:hover::after  { opacity: 1; }

.cartinha:hover {
  transform: translateY(-5px);
}

.areaB > form{
    padding: 35px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25%;
    box-shadow:  0 4px 12px var(--cor-1);
    align-items: center;
}

.areaB > form{
  background: linear-gradient(115deg, var(--cor-6), var(--cor-5), var(--cor-4), var(--cor-5), var(--cor-6));
  background-size: 300% 300%;
  animation: fluir 6s ease infinite;
}
@keyframes fluir {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


form > input{
    height: 15%;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: bolder;
    padding-left: 15px;
    transition: all ease-in-out 0.3s;
    background-color: var(--cor-2);
    color: white;
    mix-blend-mode: multiply;
}

form > input::placeholder{
    color: white;
}

form > textarea{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    height: 40%;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    resize: none;
    font-weight: bolder;
    transition: all ease-in-out 0.3s;
    background-color: var(--cor-2);
    color: white;
    mix-blend-mode: multiply;
}

form > textarea::placeholder{
    color: white;
}

h1.tituloMsg{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--cor-2);
    width:fit-content;
}

form > .butaomsg {
    border-radius: 45px;
    height: 10%;
    width: 90%;
    background-color: var(--cor-2);
    color: white;
    mix-blend-mode: multiply;
    transition: all ease-in-out 0.3s;
    font-weight: bolder;
    font-size: large;
    border: solid 4px var(--cor-2);
}

form > .butaomsg:hover{
    background-color: transparent;
    color: var(--cor-2);
    mix-blend-mode: multiply;
}

form > .butaomsg:active{
    background-color: var(--cor-2);
    color: white;
    mix-blend-mode: multiply;
}
footer{
  height: 300px;
  display: flex;
  flex-direction: row;
  color: var(--cor-txt);
  font-weight: bolder;
}
footer > div{
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  align-items: left;
  background: linear-gradient(0deg, var(--cor-1), var(--cor-2));
  width: 33%;
  height: 100%;
  text-justify: justify;
  font-size: 12px;
  padding: 40px;
}
footer > div > a{
  color: var(--cor-txt);
  text-decoration: none;
  padding-top: 20px;
  transition: all ease-in-out 0.2s;
}
footer > div > a:hover{
  color: color-mix(in srgb, var(--cor-txt) 50%, black);
}
footer > div > .logotipo{
  transition: all ease-in-out 0.3s;
}
footer > div >.logotipo:hover{
  transform: scale(1.2) rotate(-10deg);
}

.conteudoA > h1::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px; /* Substitui o text-underline-offset */

  left: 50%;
  transform: translateX(-50%);
  
  width: 30%; /* Define o tamanho da linha em relação ao texto */
  height: 2px; /* Espessura da linha */
  background-color: var(--cor-3); /* Cor da linha */
}

@media (max-width: 768px) {
  footer{
    flex-direction: column;
  }
  footer > div {
    width: 100%;
    background: linear-gradient(90deg, var(--cor-1), var(--cor-2));
    box-sizing: border-box;
  }
  :root{
    &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
  }
  .conteudoC > div{
  flex-direction: column;
  align-items: center;
  }
  .conteudoC > div > div{
  width: 90%;
  margin-bottom: 30px;
  }
  .conteudoC > div > div > p{
    font-size: 15px;
  }
  .conteudoC > div > div > h2{
    font-size: 3vw;
  }
  .conteudoC > div > div:has(img) {
    order: 1;
  }
  .conteudoC img {
    width: 100%;
    max-width: 500px;
    height: 250px; 
    object-fit: cover; 
  }
  .h-dir{
    justify-content: right;
    padding-right: 50px;
  }
  .h-esq img{
    width: 70px;
    height: auto;
  }
  .conteudoB{
    box-sizing: border-box;
    
    
  }
  .conteudoB .cards{
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
  }
  .conteudoB .cards > div{
    width: 80%;
  }
  .areaB{
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    font-size: 3vi;
    padding: 10px;
  }
  .areaB > div.grega1{
    max-width: 90%;
    width: auto;
  }

  .grega1 > .cartinha{
    font-size: 3.5vi;
  }

  .grega1 > .cartinha > img{
    width: 16vi;
    height: 16vi;
  }

  .areaB form{
    width: fit-content;
    height: 400px;
  }

  .areaA > div{
    font-size: 3vi;
  }
  .areaA > div > img{
    width: 20vi;
    height: 20vi
  }
  .conteiner-imgs > img{
    width: 90%;
  }
  .conteudo-titulo{
    height: 95%;
    width: 95%;
    font-size: 3vw;
  }
  .areaReservar {
    font-size: 3vi;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .but-reservar {
    padding: 40px;
  }

}
